main h1 {
    text-align: center;
    font-size: 70px;
}

.recepiesContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2em;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 2em;
}

.recepiesContainer section {
    flex: 0 0 24%;
}



.recepiesContainer section img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.recepiesContainer section button {
   height: 25%;
   align-self: center;
}

.recepiesContainer section button a {
    color: black;
    text-decoration: none;
}

.additionals {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
    padding: 0 0;
    gap: 1em;
}